*{
	padding: 0px;
	margin: 0px;
	box-sizing: content-box;
}

:root{
	--blanco: #f0f0f2;
	--verde: #00ff00;
	--negro: #151515;
    --rosa: #f5cae8;
}

body {
	background-color: var(--negro);
	color: var(--rosa);
	padding: 20px;
	font-size: 2em;
}

h1 {
	color: var(--blanco);
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
}

h2 {
	color: var(--blanco);
	text-align: left;
	text-transform: capitalize;
	font-size: 2em;
}

p {
	color: var(--verde);
	text-align: left;
	font-size: 20px;
}

i {
	color: var(--verde);
}

.script {
	color: var(--verde);
}