*{
	padding: 0px;
	margin: 0px;
	box-sizing: content-box;
}

:root{
	--blanco: #f0f0f2;
	--verde: #00ff00;
	--negro: #151515;
    --rosa: #f5cae8;
}

body {
	background-color: var(--negro);
	text-align: center;
	color: var(--rosa);
	padding: 20px;
}

h1 {
	color: var(--blanco);
	font-size: 32px;
	text-transform: uppercase;
}

h2 {
	color: var(--blanco);
	text-align: left;
	text-transform: capitalize;
	font-size: 24px;
}

p {
	color: var(--blanco);
	text-align: left;
	font-size: 20px;
}

i {
	color: var(--verde);
}

.boton {
	height: 40px;
	width: 88px;
	background-color: var(--rosa);
	color: var(--negro);
	font-size: 14px;
	text-transform: uppercase;
	border-radius: 15px;
	border-color: var(--verde);
}

.code-container {
	text-align: left;
	font-size: 18px;
}

#codigo, #codigo3 {
	font-size: 20px;
	color: var(--verde);
}

#codigo2, #codigo4 {
	font-size: 20px;
	color: var(--rosa);
}